<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingController</servlet-name>
        <servlet-class>controller.RatingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>controller.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllSkill</servlet-name>
        <servlet-class>controller.ListAllSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>controller.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMenteeProfile</servlet-name>
        <servlet-class>controller.UpdateMenteeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVProfileController</servlet-name>
        <servlet-class>controller.CVProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSkillController</servlet-name>
        <servlet-class>controller.CreateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillManagementController</servlet-name>
        <servlet-class>controller.SkillManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSkillController</servlet-name>
        <servlet-class>controller.UpdateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUpdateSkillController</servlet-name>
        <servlet-class>controller.GetUpdateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeManagementController</servlet-name>
        <servlet-class>controller.MenteeManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRequestByMe</servlet-name>
        <servlet-class>controller.ListRequestByMeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRequest</servlet-name>
        <servlet-class>controller.ViewRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRequest</servlet-name>
        <servlet-class>controller.UpdateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateComment</servlet-name>
        <servlet-class>controller.RateCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestByStatus</servlet-name>
        <servlet-class>controller.RequestByStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllMentor</servlet-name>
        <servlet-class>controller.ListAllMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentorPublic</servlet-name>
        <servlet-class>controller.SearchMentorPublicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSuggestedMentorController</servlet-name>
        <servlet-class>controller.ListSuggestedMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticRequest</servlet-name>
        <servlet-class>controller.StatisticRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumController</servlet-name>
        <servlet-class>controller.ForumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProblemController</servlet-name>
        <servlet-class>controller.MyProblemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProblemController</servlet-name>
        <servlet-class>controller.ViewProblemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostProblemController</servlet-name>
        <servlet-class>controller.PostProblemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostAnswerController</servlet-name>
        <servlet-class>controller.PostAnswerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveProblemController</servlet-name>
        <servlet-class>controller.ActiveProblemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestController</servlet-name>
        <servlet-class>controller.CreateRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminControllerMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingController</servlet-name>
        <url-pattern>/RatingControllerMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/RequestControllerMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/MessageControllerMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllSkill</servlet-name>
        <url-pattern>/ListAllSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMenteeProfile</servlet-name>
        <url-pattern>/UpdateMenteeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVProfileController</servlet-name>
        <url-pattern>/CVProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/adminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSkillController</servlet-name>
        <url-pattern>/createSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillManagementController</servlet-name>
        <url-pattern>/skillManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSkillController</servlet-name>
        <url-pattern>/updateSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUpdateSkillController</servlet-name>
        <url-pattern>/getUpdateSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeManagementController</servlet-name>
        <url-pattern>/menteeManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRequestByMe</servlet-name>
        <url-pattern>/listRequestByMe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRequest</servlet-name>
        <url-pattern>/viewRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRequest</servlet-name>
        <url-pattern>/updateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateComment</servlet-name>
        <url-pattern>/rateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestByStatus</servlet-name>
        <url-pattern>/requestByStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllMentor</servlet-name>
        <url-pattern>/listAllMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentorPublic</servlet-name>
        <url-pattern>/searchMentorPublic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSuggestedMentorController</servlet-name>
        <url-pattern>/listSuggestedMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticRequest</servlet-name>
        <url-pattern>/statisticRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumController</servlet-name>
        <url-pattern>/forum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProblemController</servlet-name>
        <url-pattern>/myProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProblemController</servlet-name>
        <url-pattern>/viewProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostProblemController</servlet-name>
        <url-pattern>/postProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostAnswerController</servlet-name>
        <url-pattern>/postAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveProblemController</servlet-name>
        <url-pattern>/activeProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestController</servlet-name>
        <url-pattern>/CreateRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            70
        </session-timeout>
    </session-config>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>tungduong91101@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Tung0911</param-value>
    </context-param>
</web-app>
