.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 32px 458px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 437px;
  margin: 55px 0 0 20px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin: -153px auto 60px -44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 378px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 137px;
  }
}