.u-section-1 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-1 .u-image-1 {
  width: 292px;
  height: 515px;
  object-position: 100% 100%;
  margin: 158px -50px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 749px;
  margin: -595px 471px 60px 99px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-bottom: 0;
}

.u-section-1 .u-form-group-8 {
  margin-bottom: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 516px;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
    margin-top: -565px;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-form-group-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-form-group-10 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}